body {
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.app .card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin: 20px auto;
}

.app .card-container .card {
  width: 200px;
  height: 200px;
  position: relative;
}

.app .card-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
}

.app .card-container .card .front {
  position: absolute;
  inset: 0;
  z-index: 99;
  cursor: pointer;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.app .card-container .card .flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  cursor: not-allowed;
}

.app .card-container .card .back {
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}

.app .card-container .card .flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.rankbela {
  font-size: 24px;
  border: 1px white solid;
  margin-left: 520px;
}

.input123 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button123 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}